#landing-img {
    background: url('IMG_9985.jpg');
    background-position: center;


    max-width:100%;
    height: auto; 
    padding-top: 54.171961%; /* img-height / img-width * 100%*/
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
}

#overlay {
    position: absolute;
    clip-path: polygon(0 0, 60% 0%, 50% 100%, 0 100%);
    background-color: rgb(0,54,98, 0.8);
    top: 0;
    height: 100%;
    width: 100%;

}

html, body {
    height: 100%;
}

.shapeout {
    shape-outside: polygon(60% 0, 100% 0, 100% 100%, 50% 100%);
    float: right;
    height: 100%;
    width: 100%;
}

.large-text {
    font-size: 5vmin;
}

.subtext {
    font-size: 2vmin;
}